@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeB {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeC {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#servDes {
    color: orangered;
    text-align: center;
}

#promo {
    background-color: rgb(212, 212, 212);
    height: auto;
    border-bottom: solid 7px orangered;
}

@media (max-width: 500px) {
    #promo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 14pt;
    }
    #card-text {
        margin-top: -15px;
    }
}

#promo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxP {
    font-weight: bold;
    color: rgb(46, 46, 46);
    transition: ease all 1s;
    cursor: pointer;
    border-bottom: solid 0px orangered;
}

.boxP:hover {
    transition: ease all 0.5s;
    border-bottom: solid 10px orangered;
}

#jumbotron {
    background-image: url(images/imprenta-funcion.jpg);
    color: whitesmoke;
    transition: ease all 1s;
    background-position-x: 0px;
    background-position-y: 0px;
}

#jumbotron {
    transition: ease all 1s;
    background-image: url(images/imprenta-funcion.jpg);
}

#blckstrong {
    color: orangered;
}

#lidImp {
    text-align: center;
    padding: 15px;
    background: rgb(255, 46, 0);
    background: linear-gradient(90deg, rgba(255, 46, 0, 1) 48%, rgba(41, 29, 29, 1) 48%);
    color: whitesmoke;
}

@media (max-width: 767px) {
    #lidImp {
        color: whitesmoke;
        background: rgb(27, 5, 0);
    }
}

#divProducts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#juboDiv {
    padding: 10px;
    width: 350px;
    height: auto;
    text-align: left;
    animation: changeColorBg 4s linear infinite;
    background-color: rgba(0, 0, 0, 0.829);
}

#lead {
    color: orangered;
}

@media (max-width: 450px) {
    #juboDiv {
        width: 300px;
    }
    #display-4 {
        font-size: 15pt;
    }
}

@keyframes changeColorBg {
    0% {
        border-radius: 0%;
    }
    50% {
        border-radius: 10%;
    }
    100% {
        border-radius: 0%;
    }
}

#contLienzo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.lienzos {
    width: 300px;
    height: 425px;
    padding: 10px;
    border: solid 1px rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    transition: ease all 2s;
    margin: 7px;
}

.lienzos:hover {
    transition: ease all 0.3s;
    border: solid 1px rgba(255, 68, 0, 0.794);
}

.info {
    background-color: rgb(32, 32, 32);
    padding: 7px;
    color: whitesmoke;
    text-align: center;
}

.precio {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.botSubmit {
    background-color: orangered;
    border: none;
    padding: 5px;
    color: whitesmoke;
    transition: ease all 0.5s;
}

.botSubmit:hover {
    transition: ease all 0.5s;
    box-shadow: 3px 2px 5px rgba(42, 42, 42, 0.637);
}

.addCarrito {
    text-align: center;
}